<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all"/>
</head>
<body>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>